<table class="table product-table">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Price per item</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let position of productPositions">
            <td>{{ position.product.name }}</td>
            <td>{{ position.product.price }}</td>

            <td>
                <app-quantity-selector
                    [value]="position.quantity"
                    [isDisabled]="isSaved"
                    (change)="onQuantityChanged($event, position)"
                ></app-quantity-selector>
            </td>
        </tr>
    </tbody>
</table>

<div class="mt-2">
    <button class="btn btn-success" (click)="addToCart()" [hidden]="isSaved" [disabled]="isAddingDisabled()">Add to cart</button>
    <span class="pl-2 text-success" [hidden]="!isSaved">Saved!</span>
</div>
