<table class="table product-table">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Price per item</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Name</td>
            <td>1</td>

            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary">-</button>
                    <div class="pt-2 px-3">2</div>
                    <button type="button" class="btn btn-primary">+</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>Name</td>
            <td>1</td>

            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary">-</button>

                    <div class="pt-2 px-3">2</div>

                    <button type="button" class="btn btn-primary">+</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success">Add to cart</button>
