<table class="table product-table">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Price per item</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Name</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
        </tr>

        <tr>
            <td>Name</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td class="font-weight-bold" colspan="3">Sum</td>
            <td class="font-weight-bold">6666</td>
        </tr>
    </tfoot>
</table>

<button class="btn btn-danger">Clear cart</button>
