<ng-container *ngIf="(order$ | async).length; else noData">
    <table class="table product-table">
        <thead>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Price per item</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let orderItem of order$ | async">
            <td>{{ orderItem.product.name }}</td>
            <td>{{ orderItem.quantity }}</td>
            <td>{{ orderItem.product.price }}</td>
            <td>2</td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td class="font-weight-bold" colspan="3">Sum</td>
            <td class="font-weight-bold">6666</td>
        </tr>
        </tfoot>
    </table>

    <button class="btn btn-danger" (click)="clear()">Clear cart</button>
</ng-container>

<ng-template #noData>
    No items in cart, please add something
</ng-template>
